{% extends 'Base.html' %}
{% block content %}

<div class="container flexd">
	<form action="/create_magazine" method="POST" >
		<input type="hidden" name="user_id" value="{{session['id']}}">
		<div class="flexd">

			<h2>Add a Magazine</h2>

			<label for="location">Title:
				{% for message in get_flashed_messages(category_filter=['err_magazine_title_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
			</label>
			<input type="text" name="title">

			<label for="description">Description:
				{% for message in get_flashed_messages(category_filter=['err_magazine_description_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
			</label>
			<textarea name="description" class="content_box"></textarea>

			<button class="shaded">Submit</button>
		</div>
	</form>
</div>




















{% endblock %}