{% extends 'Base.html' %}
{% block content %}
<div class="container flexr justify-content-evenly">
	<div class="flexd">
		<h2>Magazines</h2>
		<div class="content_box flexd align-items-center">

			{% for mag in mags %}
			<div class="content flexr justify-content-between">
				<div class="info "><span class="shaded">{{mag.title}}</span> added by {{mag.creator.fname}}
					{{mag.creator.lname}} </div>
				<div class="flexr justify-content-between">
					<div class="small_box"><a href="/view_magazine/{{mag.id}}" class="shaded">View</a></div>
					<div class="small_box {{ 'visually-hidden' if session['id'] != mag.user_id else ''}}"><a
							href="/edit_magazine/{{mag.id}}" class="shaded">Edit</a></div>
					<div class="small_box {{ 'visually-hidden' if session['id'] != mag.user_id else ''}}"><a
							href="/delete_magazine/{{mag.id}}" class="shaded">Delete</a></div>
					<form action="/subscribe" method="POST">
						<input type="hidden" name="magazine_id" value="{{mag.id}}">
						<input type="hidden" name="user_id" value="{{mag.creator.id}}">
						<button class="shaded">Subscribe</button>
					</form>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}