{% extends 'Base.html' %}
{% block content %}

<div class="container flexd">
	<div class="flexr">
		<form action="/update_user/{{art.id}}" method="POST" class="flexd justify-content-between">
			<input type="hidden" name="id" value="{{art.id}}">
		<div class="flexd">
			<h2>Edit this Magazine</h2>
			
			<p>Title: </p>
				<input name="title">
				{% for message in get_flashed_messages(category_filter=['err_user_fname_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_fname_complexity']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

				<p>Description: </p><input name="description">
				{% for message in get_flashed_messages(category_filter=['err_user_lname_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_lname_complexity']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

			<button class="shaded">Save</button>
		</div>
		</form>
	</div>
</div>


{% endblock %}