{% extends 'Base.html' %}
{% block content %}

<div class="container">
	<div class="title">
		<h1 class=""><em>Update User</em></h1>
	</div>
	<div class="flexr justify-content-between">
		<form action="/update_account" method="POST" class="flexd justify-content-between">
			<div class="flexd content_box-ns">
				<div class="content_box">
					<p>First name: </p>
					<input name="fname">
					{% for message in get_flashed_messages(category_filter=['err_user_fname_count']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
					{% for message in get_flashed_messages(category_filter=['err_user_fname_complexity']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}

					<p>Last name: </p><input name="lname">
					{% for message in get_flashed_messages(category_filter=['err_user_lname_count']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
					{% for message in get_flashed_messages(category_filter=['err_user_lname_complexity']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}

					<p>Email: </p><input name="email">
					{% for message in get_flashed_messages(category_filter=['err_user_email']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
					{% for message in get_flashed_messages(category_filter=['err_user_email_exists']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
				</div>
				<button class="shaded">Save</button>
			</div>
		</form>

		<div class="flexd">
			<h2>User's Magazines</h2>
			<div class="content_box flexd align-items-center">
				{% for mag in mags.magazines %}
				<div class="content flexr justify-content-between">
					<div class="info ">{{mag.title}} </div>
					<div class="flexr justify-content-between">
						<div class="small_box"><a href="/view_magazine/{{mag.id}}" class="shaded">View</a>
						</div>
						<div class="small_box {{ 'visually-hidden' if session['id'] != mag.user_id else ''}}">
							<a href="/edit_magazine/{{mag.id}}" class="shaded">Edit</a>
						</div>
						<div class="small_box {{ 'visually-hidden' if session['id'] != mag.user_id else ''}}">
							<a href="/delete_magazine/{{mag.id}}" class="shaded">Delete</a>
						</div>
					</div>
					
				</div>
				{{ subs | count }}
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>



{% endblock %}