{% extends 'Base.html' %}
{% block content %}

<div class="container">
	<div class="flexd">
		<div class="flexr">
			<div class="flexd justify-content-between">
				<input type="hidden" name="id" value="{{magazine.id}}">
				<div class="title">
					<h1 class=""><em>{{magazine.title}}</em></h1>
				</div>
				<div class="flexr">
					Created by: {{user.email if session['user'] != user.email else 'You'}}
				</div>
				<br />
				<div class="flexd content_box-ns">
					<div class="content_box">
						<p>Description:</p>
						<p>{{magazine.description}}</p>
					</div>
					<div class="content_box-ns">
						<p>Subscribers:</p>
						{% for sub in subs.magazines %}
							<div>{{sub.fname}} {{sub.lname}}</div>
						{% endfor %}
						{{ subs.subscribed | count }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}